@import "tailwindcss";

@theme {
  --color-background: #101516;
  --color-neon-mint: #54E6D4;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
